<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.nlu.probooktic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProBookTic">
        <activity android:name=".Admin.TrangChuAdmin" />
        <activity android:name=".Admin.UserManage" />
        <activity android:name=".View.TicketCart" />
        <activity android:name=".View.Findtrip1" />
        <activity android:name=".View.Findtrip2" />
        <activity android:name=".View.Findtrip3" />
        <activity android:name=".View.FailedPayment" />
        <activity android:name=".View.LoginActivity" />
        <activity android:name=".View.RegisterActivity" />
        <activity android:name=".View.Kbyt" />
        <activity android:name=".View.Info_Cus_Get_Ticket" />
        <activity android:name=".View.SeeTicketJustBooked" />
        <activity android:name=".View.PaymentSuccess" />
        <activity android:name=".View.ConfirmBooking" />
        <activity android:name=".View.Pay" />
        <activity android:name=".View.DetailedTrip" />
        <activity android:name=".View.ChooseSeat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>